* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15418c;
    color: lightgray;
    text-align: center;
}

#logo {
    width: 200px;
}

h1 {
    font-size: 50px;
}

h2 {
    text-align: left;
    padding: 10px;
    font-size: 45px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#nasapic img {
    height: 90vh;
    width: auto;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.todayOnMars {
    width: 75vw;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    background-color: lightgray;
    color: grey;
    margin-bottom: 10px;
}

.todayOnMars h3 {
    font-size: 50px;
}
.todayOnMars h4 {
    font-size: 30px;
}

.dailyWeather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 2px 10px 2px;
    width: 160px;
    height: 250px
}

.dailyWeather h3 {
    font-size: 35px;
}

.dailyWeather p {
    font-size: 20px;
}

.highsAndLows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 2px solid lightgrey;
    width: 100%;
    font-size: 20px;
    height: 130px;
}